<html>
<!--
Front end proof of concept mockup
https://semantic-ui.com/introduction/getting-started.html
https://code.jquery.com/
http://docs.videojs.com/tutorial-player-workflows.html
http://docs.videojs.com/#setup.html


-->

	<head>
		<link href="http://vjs.zencdn.net/5.19.2/video-js.css" rel="stylesheet">
		<style type="text/css">
			body {
				margin: 0px;
			}
		</style>
		<!-- If you'd like to support IE8 -->
		<script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"
			integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			crossorigin="anonymous"></script>
		<script type="text/javascript">
			function makeFullscreen()
			{
				myPlayer = videojs("sessionplayer");
				myPlayer.requestFullscreen();
			}
			function changePause()
			{
				myPlayer = videojs("sessionplayer");
				if (myPlayer.paused())
				{
					myPlayer.play();
				}
				else 
				{
					myPlayer.pause();
				}
				myPlayer.currentTime(120);
			}
		</script>
		
	</head>
	<body>
		<video id="sessionplayer" class="video-js" controls preload="auto" data-setup="{}" >
			<source src="http://julie.gnboor.se/SPACE.mp4" type="video/mp4">
			
			<p class = "vjs-no-js">
				To view this video please enable JavaScript, and consider upgrading to a web browser that
				<a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
			</p>
		</video>
		<button onclick="changePause();">Do Pause/Play</button>
		<p id="currentstatus">
			text
		</p>
		<script src="http://vjs.zencdn.net/5.19.2/video.js"></script>
	</body>
</html>