{% extends "bootstrap/base.html" %}

{% block title %} {{ w.appTitle }} {% endblock %}

{% block styles %}
    {{ super() }}
    <!-- <link rel="stylesheet" type="text/css" href=" {{ w.semanticui }}"> -->
    <link rel="stylesheet" type="text/css" href="{{ w.css }}">
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script src=" {{ w.jquery }} " type="text/javascript"></script>
    <script src=" {{ w.videojs }} " type="text/javascript"></script>
    <!-- <script src=" {{ w.semanticjs }} " type="text/javascript"></script>-->
    
    
{% endblock %}

{% block content %}
    
    <div class="container">
    <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" class="{%block homeactive %}{% endblock %}"><a href="/">Home</a></li>
        <li role="presentation" class="{%block aboutactive %}{% endblock %}"><a href="/about">About</a></li>
        {% if current_user.is_authenticated %}
        <li role="presentation"><a href="/logout">Logout</a></li>
        <li role="presentation" class="dropdown {%block sessionactive %}{% endblock %}">
            <a class="dropdown-toggle" data-toggle="dropdown" href="/session_list" role="button" aria-haspopup="true" aria-expanded="false">
              Sessions <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/session_list">List All</a></li>
              <li role="separator" class="divider"></li>
              {% for session in sessions %}
                <li><a href="{{ s_url }}{{ session.id }}">{{ session.title }}</a></li>
            {% endfor %}
            </ul>
        </li>
        {% else %}
        <li role="presentation" class="{%block loginactive %}{% endblock %}"><a href="/login">Login</a></li>
        {% endif %}
      </ul>
    </nav>
    <h3 class="text-muted">{{ w.appTitle }}</h3>
</div>
        {% block page_content %}
        
        {% endblock %}
        <footer class="footer">
        <p>This project is provided as free software, available <a rel="external" target="_blank" href="https://github.com/normandy/videowatcher">on Github</a> under the terms of the GNU Public License.</p>
        <div class="row text-center">
            <img src="{{ w.pythonpowered }}" class="img-responsive center-block" alt="Python Powered"/>
        </div>
        
      </footer>
    </div>

{% endblock %}

