{% extends "bootstrap/base.html" %}

{% block title %} {{ w.appTitle }} {% endblock %}

{% block styles %}
    {{ super() }}
    <!-- <link rel="stylesheet" type="text/css" href=" {{ w.semanticui }}"> -->
    <link rel="stylesheet" type="text/css" href=" {{ w.css }}">
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script src=" {{ w.jquery }} " type="text/javascript"></script>
    <script src=" {{ w.videojs }} " type="text/javascript"></script>
    <!-- <script src=" {{ w.semanticjs }} " type="text/javascript"></script>-->
    
    <script src=" {{ w.js }} " type="text/javascript"></script>
    
{% endblock %}

{% block content %}

    <div class="container">
        {% block page_content %}
        
        {% endblock %}
    </div>

{% endblock %}

